body {
    margin: 0;
    padding: 0;
    background: linear-gradient(89deg , #69bff8,  #5ffbf1); 
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    justify-content: center;
}
